// Bulma
@import "~bulma/bulma.sass";

html{
  background-color: #3e3e3e;
  width: 100%;
}

.footer{
  background-color: #4a4a4a;
  color: white;
}

.container{
  box-sizing: border-box;
  max-width: unset;
  margin: 2rem;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
}

.color-grid{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-flow: wrap;

  .color-box{
    width: 25%;

    .color-item{
      position: relative;
      height: 100%;
      min-height: 5em;
      align-self: flex-end;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      background-color: #F44336;
      margin: 0 auto 0 auto;
      transform-origin: bottom;

      p{
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        padding: 0.2em 0.5em;
        background: #00000040;
        text-align: center;
        font-size: 12px;
        width: 100%;
      }
    }

    .bounce {
      z-index: 2;
      border: 5px solid #2e2e2e;
      border-radius: 5px;
      animation-name: bounce;
      animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    }
    @keyframes bounce {
      0%   { transform: scale(1,1)      translateY(0); }
      50%  { transform: scale(1.2,1.2) translateY(10px); }
      100% { transform: scale(1,1)      translateY(0); }
    }
  }
}

.image-container{
  position: relative;
  border: 1px dashed white;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 15em;
  padding: 2em;

  .full-size{
    position: absolute;
    border: 2px dashed grey;
    width: 12px;
    height: 12px;
    top: 10px;
    right: 10px;

    &:hover{
      cursor: pointer;
      opacity: .5;
    }
  }
  p{
  color: white;
  margin: auto;
  }
}

.bgsize{
background-size: cover;
}


.result{
  display: flex;
  justify-content:center;
  flex-flow: nowrap;

  .result-colors{
    width: 100%;
    border: 1px dashed white;
    height: 5em;

    p{
      color: white;
      padding: .5em;
      background: #000;
      margin: .5em;
      font-size: 12px;
      width: max-content;
      border-radius: 1em;
    }
  }
}


// Loading

.custom-loader{
  background: #00000080;
  top: -40px;
  position: absolute;
  z-index: 20 !important;
  height: 200%;
  width: 200%;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 10rem;
}

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  } 100%, 0% {
    transform: scale(1.0);
  }
}