<template>
    <div class="color-grid">
        <div class="color-box" v-for="color in colors">
             <div class="color-item"
                  :class="{bounce: matchColor(color.rgb)}"
                  :style="{backgroundColor: 'rgb('+color.rgb[0]+','+color.rgb[1]+','+color.rgb[2]+')'}">
                 <p class="color-name">{{color.name}}</p>
             </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: {
            closestColor: {
                type: Array,
            }
        },

        data: function(){
            return{
                colors: [
                    { name:'Aqua', rgb:[0,255,255] },
                    { name:'Black', rgb:[0,0,0] },
                    { name:'Blue', rgb:[0,0,255] },
                    { name:'Fuchsia', rgb:[255,0,255] },
                    { name:'Gray', rgb:[128,128,128] },
                    { name:'Green', rgb:[0,128,0] },
                    { name:'Lime', rgb:[0,255,0] },
                    { name:'Maroon', rgb:[128,0,0] },
                    { name:'Navy', rgb:[0,0,128] },
                    { name:'Olive', rgb:[128,128,0] },
                    { name:'Purple', rgb:[128,0,128] },
                    { name:'Red', rgb:[255,0,0] },
                    { name:'Silver', rgb:[192,192,192] },
                    { name:'Teal', rgb:[0,128,128] },
                    { name:'White', rgb:[255,255,255] },
                    { name:'Yellow', rgb:[255,255,0] }
                ]
            }
        },

        mounted() {
            // console.log('Color Component mounted.');
        },

        methods: {
            matchColor(rgb){
                console.log(rgb);
                console.log(this.closestColor);
                return rgb[0] === this.closestColor[0]
                    && rgb[1] === this.closestColor[1]
                    && rgb[2] === this.closestColor[2];
            }
        }
    }
</script>
