<template>
    <div class="container">

        <!-- Suxe: Loader when file is uploading -->
        <div class="custom-loader" v-if="showLoader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        </div>

        <div class="tile is-ancestor">
            <div class="tile is-parent">

                <div class="tile is-child">
                    <div class="image-container"
                         :style="{backgroundImage:'url('+imagePreview+')'}"
                         :class="{ bgsize: fullSize }">
                        <div class="full-size" v-if="!showDescription"
                             @click="fullSize = !fullSize">
                        </div>
                        <p v-if="showDescription"
                           class="title">Select your favorite image and we will try to guess the predominant color</p>
                    </div>

                    <div class="result"
                         v-if="!showDescription">
                        <div class="result-colors"
                             :style="{backgroundColor:
                                'rgb('+predominantColor[0]+','+predominantColor[1]+','+predominantColor[2]+')'}">
                            <p>Predominant:
                                <b>{{'rgb('+predominantColor[0]+','+predominantColor[1]+','+predominantColor[2]+')'}}</b>
                            </p>
                        </div>
                        <div class="result-colors"
                             :style="{backgroundColor:
                                'rgb('+closestColor[0]+','+closestColor[1]+','+closestColor[2]+')'}">
                            <p>Closest:
                                <b>{{'rgb('+closestColor[0]+','+closestColor[1]+','+closestColor[2]+')'}}</b>
                            </p>
                        </div>
                    </div>

                    <div class="field">
                        <div class="file is-primary is-boxed">
                            <label class="file-label" style="width: 100%;">
                                <input class="file-input" type="file" id="file" ref="file"
                                       @change="getImagePreviewUrl">
                                <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-cloud-upload-alt"></i>
                        </span>
                        <span class="file-label">
                          Select your image …
                        </span>
                      </span>
                            </label>
                        </div>
                    </div>
                </div>


            </div>

            <div class="tile is-parent">
                <!-- Suxe: Here goes color grid component -->
                <color-grid v-bind:closestColor="closestColor"></color-grid>
            </div>
        </div>

    </div>
</template>

<script>
    import ColorGrid from './ColorGrid.vue';

    export default {

        components: {
            ColorGrid
        },

        data: function(){
            return{
                image: '',
                imagePreview: '',
                closestColor:[],
                predominantColor:[],
                showDescription: true,
                fullSize: false,
                showLoader: false,
            }
        },

        mounted() {
            // console.log('Component mounted.');
        },

        methods: {
            getImagePreviewUrl: function(evt) {
                let input = evt.target;
                if (input.files && input.files[0]) {

                    let self = this;

                    let reader = new FileReader();
                    let file = input.files[0];

                    reader.onload = (e) => self.imagePreview = e.target.result;

                    reader.readAsDataURL(file);
                    this.image = file;
                    this.showDescription = false;
                    this.submitFile();
                }
            },

            submitFile(){
                let formData = new FormData();
                formData.append('file', this.image);

                let self = this;
                self.startLoading();

                axios.post( '/api/vue', formData, {
                    headers: {'Content-Type': 'multipart/form-data'}
                    })
                    .then(function(response){
                        console.log('SUCCESS!!');
                        self.closestColor = response.data.closest_color;
                        self.predominantColor = response.data.predominant_color;
                        self.stopLoading();
                    })
                    .catch(function(){
                        console.log('FAILURE!!');
                        alert('Invalid file format. Please choose another image.');
                        self.imagePreview = '';
                        self.showDescription = true;
                        self.stopLoading();
                    });
            },

            startLoading(){
                this.showLoader = true;
                document.documentElement.style.overflow = 'hidden';
            },

            stopLoading(){
                this.showLoader = false;
                document.documentElement.style.overflow = 'auto';
            }

        }
    }
</script>
